# React / Vue / Vite / TypeScript
hot
.bak
*.local
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Deps
node_modules

# Out
dist
dist-ssr
.output/

# Environment
.env
.env.local
.env.*.local
.env.development
.env.production

# Vite
.vite/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
